.card {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-left: 1rem solid;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: large;
  font-weight: bold;
}

.card-details {
  color: grey
}
