.header-container {
  display: flex;
  align-items: center;
}

.add-button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #00bcd4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  margin-right: 15px;
}

.tag {
  padding: 8px 16px;
  border-radius: 20px;
  margin-right: 8px;
  font-family: Arial;
  font-size: 10px;
}

.tag:nth-child(2) {
  background-color: #e0c7f7;
}

.tag:nth-child(3) {
  background-color: #f7c4c4;
}

.tag:nth-child(4) {
  background-color: #f7d7c4;
}
