<app-search></app-search>
<mat-sidenav-container class="container">
    <mat-sidenav mode="side" opened>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="text" placeholder="Search">
        <button mat-icon-button matSuffix>
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
      
      <mat-nav-list>
        <a mat-list-item>
          <mat-icon>note</mat-icon>
          All notes
        </a>
        <a mat-list-item>
          <mat-icon>delete</mat-icon>
          Trash
        </a>
        <a mat-list-item>
          <mat-icon>star</mat-icon>
          Favorites
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Content goes here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
  